#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.loader-image {
  width: 10vw;
  height: auto;
}

@media (max-width: 600px) {
  .loader-image {
    width: 25vw;
  }
}

@media (max-width: 400px) {
  .loader-image {
    width: 40vw;
  }
}
